useDynLib(immer)



######################################################
############### IMPORTS ##############################


#***************************************************
#*************** R Basics / Linking To *************

importFrom(graphics, abline)
importFrom(graphics, axis)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, points)
importFrom(graphics, legend)
importFrom(graphics, lines)
importFrom(methods, is)
importFrom(Rcpp, evalCpp)
importFrom(stats, aggregate)
importFrom(stats, anova)
importFrom(stats, coef)
importFrom(stats, dlnorm)
importFrom(stats, dnorm)
importFrom(stats, logLik)
importFrom(stats, optim)
importFrom(stats, pchisq)
importFrom(stats, qlogis)
importFrom(stats, qnorm)
importFrom(stats, rgamma)
importFrom(stats, rlnorm)
importFrom(stats, rnorm)
importFrom(stats, runif)
importFrom(stats, sd)
importFrom(stats, var)
importFrom(stats, vcov)
importFrom(utils, download.file)
importFrom(utils, flush.console)
importFrom(utils, packageDescription)
importFrom(utils, read.csv)
importFrom(utils, unzip)


#***************************************************
#************** Depends ****************************



#***************************************************
#************** Imports ****************************

importFrom(CDM, IRT.anova)
importFrom(CDM, IRT.likelihood)
importFrom(CDM, IRT.posterior)
importFrom(coda, as.mcmc.list)
importFrom(psychotools, elementary_symmetric_functions)
importFrom(sirt, mcmc.list.descriptives)
importFrom(sirt, md.pattern.sirt)
importFrom(sirt, rowCumsums.sirt)
importFrom(sirt, rowIntervalIndex.sirt)
importFrom(TAM, tam_matrix2)






########################################################
################  EXPORTS ##############################

export(immer_agree2)
export(immer_cml)
export(immer_FACETS)  
export(immer_install)
export(immer_HRM)
export(immer_jml)
export(immer_opcat)
export(immer_reshape_wideformat)
export(immer_unique_patterns)
export(lc2_agreement)
export(logits2probs)
export(probs2logits)
export(simulate_HRM)



#########################################################
############### S3 METHODS ##############################


S3method(anova, immer_cml)
S3method(anova, immer_HRM)
S3method(anova, lc2_agreement)
S3method(IRT.likelihood, immer_HRM)
S3method(IRT.posterior, immer_HRM)
S3method(logLik, immer_cml)
S3method(logLik, immer_HRM)
S3method(logLik, lc2_agreement)
S3method(plot, immer_HRM)
S3method(summary, immer_agree2)
S3method(summary, immer_cml)
S3method(summary, immer_jml)
S3method(summary, immer_HRM)
S3method(summary, lc2_agreement)